:root {
	--White: hsl(0,0%,100%);
	--Light-gray: hsl(212,45%,89%);
	--Graysh-blue: hsl(220,15%, 55%);
	--Dark-blue: hsl(218,44%,22%);
	--Blue: hsl(228, 45%, 44%);
	--Outfit: "Outfit", sans-serif;
}

body {
	background: var(--Light-gray);	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-align: center;
}

.card {
	font-family: var(--Outfit);
	background: var(--White);
	max-width: 20rem;
	padding: 1rem 1rem;
	border-radius: 18px;
}

.qr-code {
	display: block;
	max-width: 100%;
	border-radius: 0.5rem;
}

.card h1 {
	color: var(--Dark-blue);
	font-size: 1.75rem;
	padding: 1rem 0;
}

.card p {
	color: var(--Graysh-blue);
	font-size: 1.2rem;
}

.attribution {
	font-family: var(--Outfit);
	color: var(--Dark-blue);
	font-size: 0.75rem;
}

.attribution a {
	color: var(--Blue);
}